@font-face {
    font-family: logofont;
    src: url(font/Rubik/Rubik-VariableFont_wght.ttf);
}

@font-face {
    font-family: textfont;
    src: url(font/Playwrite_GB_J/italic.ttf);
}



body {
    margin: 0;
    padding: 0;
    background-color: #222831;
}

.homepage {
    height: 100vh;
}

nav ul img{
    display: none;
}

nav {

    background-color: #222831;
    padding: 1rem;
    position: fixed;
    top: 0;
    width: 100%;
    border-bottom: 1px solid rgb(77, 77, 77);
    /* From https://css.glass */
    background: rgba(34, 40, 49, 0.65);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(13.9px);
    -webkit-backdrop-filter: blur(13.9px);





}



nav ul {

    list-style-type: none;

    padding: 0;

    margin: 0;

    display: flex;

    justify-content: right;

    margin-left: 70%;
    margin-top: -3%;



}



.navitems li a {
    color: white;

    text-decoration: none;

    font-size: 1rem;
    margin-right: 85px;
    font-family: logofont;
    transition: all ease-in 0.3s;

}

.navitems li a:hover {
    font-size: 1.1rem;
    color: #00ADB5;


}

.logo {
    display: flex;
    justify-content: left;
    font-weight: 800;
    font-size: 15px;
    font-family: textfont;
    color: #00ADB5;

}

hr {
    height: 0.5px;
    background-color: rgb(63, 63, 63);
    border: none;
}

.arrowandtext h1 {
    font-size: 60px;
    font-weight: 800;
    font-family: logofont;
    color: white;
}

.jobtitle {
    color: #00ADB5;
}

.firstbutt {

    padding: 12px;
    background-color: #00ADB5;
    border-radius: 25px;
    border: none;
    width: 120px;
    color: white;
    font-size: 16px;
    cursor: pointer;


}

.secondbutt {
    padding: 12px;
    background-color: #2a2b2b;
    border-radius: 25px;
    border: none;
    width: 170px;
    color: white;
    font-size: 16px;
    margin-left: 2%;
    cursor: pointer;


}

.arrowandtext {
    display: flex;
    margin-left: 7%;
    margin-top: 12%;
}

.arrow {
    margin-top: 6%;
    height: 200px;
}

.buttons {
    margin-top: -4%;
    margin-left: 15%;

}

.illustration {
    float: right;
    margin-top: -21%;
    margin-right: 7%;
}

.illustration img {
    height: 500px;
}

.abttext {
    margin-left: 7%;

}

.abttext h1 {
    font-size: 4rem;
    font-family: logofont;
    color: white;
}

.me {
    color: #00ADB5;
}

.abttext p {
    font-size: 18px;
    font-family: logofont;
    color: white;



}

.musicimage {
    margin-left: 7%;

}

.aboutmain {
    display: flex;
    justify-content: space-between;
    margin-top: 9%;
    flex-wrap: wrap;

}

.illustrationii {
    height: 500px;

    margin-top: 8%;
    margin-right: 7%;
}

.leftside {
    margin-left: 7%;

}

.Contact h1 {
    font-size: 4rem;
    font-family: logofont;
    color: white;
    margin-left: 7%;
    padding-top: 9%;


}


.mind {
    color: #00ADB5;
}

.contactcontent {
    display: flex;
    width: 100%;

    justify-content: space-around;
}

.nameemail {
    display: flex;

    width: 100%;

}

.email {
    margin-left: 5%;
}

label {
    color: white;
    font-family: logofont;
    font-size: 16px;

}

input {
    width: 288px;
    height: 48px;
    border-radius: 16px;
    background: #393E46;
    border: none;
    padding-left: 12px;
    opacity: 0.5;
    margin-top: 12px;
    color: white;

}

textarea {
    width: 600px;
    height: 200px;
    border-radius: 16px;
    background: #393E46;
    border: none;
    padding-left: 12px;
    opacity: 0.5;
    margin-top: 12px;
    color: white;
    padding-top: 12px;

}


.messagebutton {
    padding: 12px;
    background-color: #00ADB5;
    border-radius: 25px;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
}

.footerend {
    display: flex;
    justify-content: center;
    padding-top: 6%;
    margin-top: 7%;
    width: 100%;
    border-top: 1px solid rgb(77, 77, 77);



}

.footerend a p {
    color: white;
    font-family: logofont;
    font-weight: 200;
    width: 100%;
}

.footerend a {
    color: white;

    text-decoration: none;

    font-size: 1rem;
    margin-right: 85px;
    font-family: logofont;
    transition: all ease-in 0.3s;
}

.socials {
    display: flex;
    justify-content: center;
    margin-bottom: 7%;


}

.iconbackground {
    background-color: #393E46;
    height: 30px;
    width: 23px;
    display: flex;
    justify-content: center;
    padding-top: 17px;
    padding-left: 12px;
    padding-right: 12px;
    margin: 6px;
    border-radius: 80px;



}


.copyright {
    text-align: end;
    margin-right: 20px;
    color: white;
    font-family: logofont;
    font-size: 13px;
}







@media screen and (max-width:480px) {


    nav li{
       display: none;

    }

    nav ul img{
      display: block;
      margin-right: 120% ;
    }

    .contactcontent {
        display: block;
        
    }
    .aboutmain {
        display: block;
      
    }

    .arrowandtext{
        margin-left: 0;
    }
    
.arrowandtext h1 {
    font-size: 55px;
    font-weight: 600;
    font-family: logofont;
    color: white;
    margin-top: 30%;
    margin-left: 0;
}

.arrow {
    margin-top: 50%;
    height: 180px;
}

.illustration{
    margin-top: 10%;
}

.illustration img{
    height:480px;
}
}